{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <header id="accueil-header">
        <div id="header-img"></div>
        <h1>KEM'EAT</h1>
        <h2>Bienvenue !!</h2>
    </header>
    
{% endblock %}
